@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Gluten:wght@100..900&display=swap");

/* Estilos Gerais e CSS Resets*/

body {
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1,
p {
  margin: 0px;
  padding: 0px;
}

a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

div {
  padding: 0px;
  margin: 0px;
}

/* Header */

.header {
  @extend %fontGluten700 !optional;
  font-size: $font-size-md;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;

  &__logo {
    gap: $gap-sm;
    display: flex;
    align-content: center;
    align-items: center;

    &--image {
      padding: 0px;
      margin: 0px;
      display: block;
      width: 100px;
      max-width: 100%;
      height: auto;
    }

    .header__link {
      display: inline-block;

      &--title {
        font-size: $font-size-lg;
        color: $primary-color;
        position: relative;

        .detail {
          color: $full-black;
        }
      }
    }
  }

  .nav {
    &__items {
      gap: $gap-md;
      display: flex;

      &--links {
        color: $full-black;
        display: inline-block;
        text-decoration: none;
        position: relative;
        padding: 10px 0px 10px 0px;

        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 0px;
          background-color: $primary-color;
          margin-top: 4px;
          transition: 0.3s;
          position: absolute;
        }

        &:hover {
          color: $primary-color;
          transition: 0.3s;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .github {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 60px;

    &__link {
      display: inline-block;
      text-decoration: none;

      &--image {
        padding: 0px;
        margin: 0px;
        display: block;
        height: 60px;
        height: auto;
        width: 60px;
        max-width: 100%;

        &:hover {
          content: url("/githubHover.svg");
        }
      }
    }
  }
}

/* Main */

.main {
  @extend %maxContainer;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px;

  &__titles {
    @extend %fontGluten400 !optional;
    font-size: $font-size-md;
    padding: 10px 0px 10px 0px;
  }

  &__constituents {
    background-color: $secondary-color;
    border-radius: $border-radius;
    border: 2px solid #000;

    &--form {
      gap: $gap-sm;
      padding: 0px 20px 0px 20px;
      text-align: start;
      border: 1px solid blue;

      .ingredients {
        &__input {
          font-size: $font-size-sm;
          background-color: $full-white;
          border-radius: $border-radius;
          border: 2px solid black;
          padding: 10px;
          transition: 0.3s;

          &:hover {
            border-color: $primary-color;
          }
          &:focus {
            border-color: $primary-color;
            outline: none;
          }
        }
      }

      .quantities {
        &__input {
          border-top: 2px solid $full-black;
          border-left: 2px solid $full-black;
          border-bottom: 2px solid $full-black;
          border-right: none;
          border-radius: $border-radius;
          font-size: $font-size-sm;
          background-color: #fff;
          padding: 10px;
          transition: 0.3s;

          &:hover {
            border-color: $primary-color;
          }

          &:focus {
            border-color: $primary-color;
            outline: none;
          }
          &--options {
            color: $full-white;
            background-color: $primary-color;
            border-radius: $border-radius;
            font-size: $font-size-sm;
            border-top: 2px solid $full-black;
            border-right: 2px solid $full-black;
            border-bottom: 2px solid $full-black;
            border-left: none;
            padding: 10px;
          }
        }
      }
      .constituents__button {
        background-color: $primary-color;
        border-radius: $border-radius;
        border: 2px solid $full-black;
        color: $full-white;
      }
    }
  }

  .recipe {
    gap: $gap-sm;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid red;

    &__body {
      &--name {
        @extend %fontGluten400 !optional;
        font-size: $font-size-md;
        margin-bottom: 20px;
        border: 1px solid yellow;
        width: 100%;
        box-sizing: border-box;

        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 77px;
          background-color: $primary-color;
          margin-top: 2px;
        }
      }

      .timeContainer {
        &__number {
        }

        &--options {
        }
        &__minutes {
        }

        &--hours {
        }
      }
    }
    .steps {
      &__button {
      }
    }
  }
}
// .like {
//   grid-column: -1;
//   &__button {
//     display: block;
//     background: none;
//     border: none;
//     cursor: pointer;

//     &--image {
//       display: block;
//       padding: 0px;
//       margin: 0px;
//       max-width: 100%;
//       height: auto;

//       &:hover {
//         content: url("/likeHover.svg");
//       }
//     }
//   }
// }

.food__container {
  position: relative;
  &--image {
    border-radius: $border-radius;
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: "cover";
  }
}

/* Footer */

.footer {
  @extend %fontGluten400 !optional;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: $full-white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 40px;
}
