@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");

/* Estilos Gerais e CSS Resets*/

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Gluten", sans-serif;
  line-height: 1.5;
}

ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

/* Header */

.header {
  padding: 20px 40px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-container p {
  font-size: 2rem;
  color: #dc1a32;
}

.logo-container p span {
  color: #000;
}

.header_link {
  width: 80px;
  height: 80px;
}

.header_logo {
  width: 80px;
  height: 80px;
}

.nav_items {
  display: flex;
  gap: 40px;
  font-weight: bold;
}

.nav_link {
  text-decoration: none;
  display: inline-block;
  color: #000;
  position: relative;
  padding: 10px 0px 10px 0px;
}

.nav_link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #dc1a32;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

/* Pq? */
.nav_link:hover {
  color: #dc1a32;
  transition: 0.3s;
}
/*  */
.nav_link:hover:after {
  width: 100%;
}
/* Pq? */
.github {
  width: 60px;
  height: 60px;
}

.github-image {
  width: 60px;
  height: 60px;
}

.github-image:hover {
  fill: #dc1a32;
}

/*  */

/* Main */

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container-ingredients {
  border: 2px solid #000;
  border-radius: 4px;
  margin-left: 20px;
  background-color: #f8f5f0;
}

.ingredients-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 0px 20px;
}

.container-recipe {
  background-color: #fff;
  padding: 0px 20px 0px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.recipe-body h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 77px;
  background-color: #dc1a32;
  margin-top: 2px;
}

.recipe-body p {
  font-size: 1.25rem;
  font-weight: normal;
}

.recipe-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.food-img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

.food-tst {
  display: block;
  max-width: 100%;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: inline-block;
  background-color: #dc1a32;
  color: #fff;
  text-align: center;
}
