@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Gluten:wght@100..900&display=swap");

/* Estilos Gerais e CSS Resets*/

body {
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1,
p {
  margin: 0px;
  padding: 0px;
}

a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* Header */

.header {
  font-family: $heading-font-family;
  font-size: $font-size-md;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100vw;

  &__logo {
    gap: $gap-sm;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    &--image {
      padding: 0px;
      margin: 0px;
      display: block;
      width: 100px;
      max-width: 100%;
      height: auto;
    }

    .header__link {
      display: inline-block;

      &--title {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        color: $primary-color;
        position: relative;

        .detail {
          color: $full-black;
        }

        &::before {
          content: "";
          left: -5px;
          bottom: 11px;
          position: absolute;
          width: 2px;
          height: 32px;
          background-color: $primary-color;
        }
      }
    }
  }

  .nav {
    &__items {
      font-weight: $font-weight-bold;
      gap: $gap-md;
      display: flex;

      &--links {
        color: $full-black;
        display: inline-block;
        text-decoration: none;
        position: relative;
        padding: 10px 0px 10px 0px;

        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 0px;
          background-color: $primary-color;
          margin-top: 4px;
          transition: 0.3s;
          position: absolute;
        }

        &:hover {
          color: $primary-color;
          transition: 0.3s;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .github {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 60px;

    &__link {
      display: inline-block;
      text-decoration: none;

      &--image {
        padding: 0px;
        margin: 0px;
        display: block;
        height: 60px;
        height: auto;
        width: 60px;
        max-width: 100%;

        &:hover {
          content: url("/githubHover.svg");
        }
      }
    }
  }
}

/* Main */

.main {
  font-family: $body-font-family;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 2000px;
  margin: auto;
  padding: 20px;

  &__titles {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    padding: 10px 0px 10px 0px;
  }

  &__constituents {
    background-color: $secondary-color;
    border-radius: $border-radius;
    border: 2px solid #000;
    margin-left: 20px;

    &--body {
      gap: $gap-sm;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0px 20px 0px 20px;
      text-align: start;

      .ingredients {
        &__form {
          font-size: $font-size-sm;
          background-color: $full-white;
          border-radius: $border-radius;
          border: 2px solid black;
          padding: 10px;
          transition: 0.3s;

          &:hover {
            border-color: $primary-color;
          }
          &:focus {
            border-color: $primary-color;
            outline: none;
          }
        }
      }

      .quantities {
        &__form {
          border: 2px solid black;
          border-radius: $border-radius;
          font-size: $font-size-sm;
          background-color: #fff;
          padding: 10px;
          transition: 0.3s;

          &:hover {
            border-color: $primary-color;
          }

          &:focus {
            border-color: $primary-color;
            outline: none;
          }
        }
      }
      .constituents__button {
        background-color: $primary-color;
        border-radius: $border-radius;
        border: 2px solid $full-black;
        color: $full-white;
      }
    }
  }

  .recipe {
    background-color: $full-white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0px 20px 0px 20px;

    &__body {
      &--name {
        font-size: $font-size-md;
        font-weight: $font-weight-normal;
        padding-bottom: 20px;

        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 77px;
          background-color: $primary-color;
          margin-top: 2px;
        }
      }

      .recipeInput {
      }

      .recipe__text {
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
      }
    }

    .food {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      padding: 0px 20px 0px 20px;

      &__container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        width: 100%;

        &--image {
          border-radius: $border-radius;
          padding: 0px;
          margin: 0px;
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      .like {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        width: 100%;

        &__button {
          display: block;
          background: none;
          border: none;
          cursor: pointer;

          &--image {
            display: block;
            max-width: 100%;
            height: auto;
            padding: 0px;
            margin: 0px;

            &:hover {
              content: url("/likeHover.svg");
            }
          }
        }
      }
    }
  }
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: $full-white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 50px;
}
