$primary-color: #dc1a32;
$secondary-color: #f8f5f0;
$full-black: #000000;
$heading-font-family: "Gluten", sans-serif;
$body-font-family: "ABeeZee", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height: 1.5;
