$primary-color: #dc1a32;
$secondary-color: #f8f5f0;
$full-black: #000000;
$full-white: #ffffff;
$heading-font-family: "Gluten", sans-serif;
$body-font-family: "ABeeZee", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height: 1.5;
$font-size-sm: 1.25rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$gap-sm: 20px;
$gap-md: 40px;
$border-radius: 4px;
