$border-radius: 4px;
$gap-sm: 20px;
$gap-md: 40px;
$primary-color: #dc1a32;
$secondary-color: #f8f5f0;
$full-black: #000000;
$full-white: #ffffff;
$font-size-sm: 1.25rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;

%fontGluten400 {
  font-family: "Gluten", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

%fontGluten700 {
  font-family: "Gluten", sans-serif;
  font-weight: 700;
  line-height: 150%;
}

%maxContainer {
  max-width: 100%;
  width: calc(100% - 80px);
  margin: 0 auto;

  @media all and (max-width: 1024px) {
    width: calc(100% - 40px);
  }
}
